.book {
    float: left;
    width: 180px;
    height: 271px;
    overflow: hidden;
    margin-right: 5px;
}

.progress-meter .background {
  fill: #ccc;
}

.progress-meter .foreground {
  fill: #000;
}

.progress-meter .complete {
  fill: #5cb85c;
}

.progress-meter text {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 24px;
  font-weight: bold;
}

.progress-meter text.title {
    font-size: 14px;
}

.progress-meter text.pages {
    font-size: 14px;
    fill: #444;
}
.image {
    width: 180px;
    height: 271px;
}
svg { 
    position: relative;
    top: -275px;
    background:  url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mP4Xw8AAoABf5/NhYYAAAAASUVORK5CYII=);
    background-repeat: repeat;
}